* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: burlywood;
}

/*header*/
.header {
    max-width: 1150px;
    margin: 0 auto;
    background-color: #fff;
}

.header__menu_items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__menu_item {
    padding: 15px;
}

.header__menu_item_link{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
}

/*main*/
.main {
    align-items: center;
    background-color: #fff;
    max-width: 1150px;
    margin: 0 auto;
}

/*section*/
.section{
    display: flex;
    justify-content: space-between;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 120px ;
}

.main__text-content_head {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
}

.main__text-content_paragraph{
    font-style: normal;
    font-weight: normal;
    padding-top: 20px;
    font-size: 16px;
    line-height: 23px;
}

.main__text-content_button {
    width: 208px;
    height: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #FF6464;
    border: none;
}

.main__photo {
    width: 243px;
    height: 243px;
    border-radius: 50%;
}

/*posts*/
.posts {
    background-color: #EDF7FA;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    max-width: 930px;
    margin: 0 auto; 
}

.posts__wrapper{
    padding-top: 15px;
} 

.post__content{
    display: flex;
    justify-content: space-between;
}

.recent {
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
}

.link > a {
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    color: rgba(0, 168, 204, 1);
}

.poasts__header {
    display: flex;
    justify-content: space-between;
}

.post__description{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.post__wrapper{
    width:  420px;
    height: 295px;
    background-color: #fff;
}

.post__inner{
    margin: 30px 30px;
}

.post{
    padding-bottom: 30px;
   
}

.post__inner-text {
    font-family: Heebo;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;

}

/*featured*/
.featured__wrapper {
    padding: 25px 0 50px 0;
    max-width: 930px;
    margin: 0 auto;
}

.featured__content-right{
    margin-left: 20px;
}

.featured__haeder-text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.featured__content-text{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.featured__content-right{
    margin-right: 20px;
}

.featured__info-date{
    background: black;
}

.featured__content {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
    margin: 30px 0 30px 0;
}

.featured__content-img {
    width: 246px;
    height: 180px;
    border-radius: 8px;
}

.featured__info{
    display: flex;
    padding: 20px 0 20px 0;
}

.featured__info-date{
    padding: 2px 8px;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    align-self: center;
}

.featured__info-text{
    margin-left: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #8695A4;
}

.featured__content-discription {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #21243D;
}

/*footer*/
.footer{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    background-color: #FFFFFF;
    max-width: 1150px;
    margin: 0 auto;
}

.footer__links > a:not(:first-child){
    padding-left: 30px;
}

.footer__content-text{
    padding-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}

@media (max-width: 840px) {
    /*section*/
    .section{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding-top: 20px;
    }

    .main__text-content{
        text-align: center;
    }

    /*post*/
    .posts{
        background-color: #fff;
    }
    .post__content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .link{
        display: none;
    }

    .post__inner {
        margin: 0;
    }

    .poasts__header{
        display: flex;
        justify-content: center;
    }

    /*featured*/
    .featured__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 0;
        border-bottom: none;
        margin: 20px 0 20px 0;
    }

    .featured__haeder {
        display: flex;
        justify-content: center;
    }

    /*header*/
    .header {
        display: none;
    }
}