* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Heebo', sans-serif;

    
}

/*header*/

.header {
    max-width: 1150px;
    
    margin: 0 auto;
    background-color: #fff;
}

.header__menu_items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__menu_item {
    padding: 15px;
}

.header__menu_item_link{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
}

/*main*/
.main {
    
    align-items: center;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 120px;
}



.section{
    display: flex;
    justify-content: center;
    width: 1150px;
    margin: 0 auto;
}


.main__photo-content{
    padding-left: 200px;
    
}
.main__text-content_head {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
}

.main__text-content_paragraph{
    font-style: normal;
    font-weight: normal;
    padding-top: 20px;
    font-size: 16px;
    line-height: 23px;
}

.main__text-content_button {
    width: 208px;
    height: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #FF6464;
    border: none;
}

.main__photo {
    width: 243px;
    height: 243px;
    border-radius: 50%;
}



.posts {
    background-color: #EDF7FA;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    width: 1150px;
    margin: 0 auto;
    
}

.posts__wrapper{
    padding-left: 105px;
    padding-right: 105px;
    
}
.post__content{
    margin-left: 105px;
    margin-top: 30px;
    display: flex;
       
}

.recent {
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;

}

.link > a {
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    color: rgba(0, 168, 204, 1);


}

.poasts__header {
    
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.post__description{
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}

.post__wrapper{
    width:  420px;
    height: 295px;
    background-color: #fff;
}

.post__inner{
    margin: 30px 30px;
}

.post{
    padding-bottom: 30px;
   
}

.post:not(:first-child){ 
    margin-left: 80px;
}
.post__inner-text {
    font-family: Heebo;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;

}